.sac{
    background-color: gray;
    display: flex;
    height: 40px;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: flex-end;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -5px;

}

.carrossel{
 background-color: black;
height: 400px;
margin: 0 -8px;
display: flex;
justify-content: center;
}

#principal {
    height: 430px;
    background-color: red;
    width: 800px;
    position: absolute;
}

.preferencia{
    margin-top: -5px;
    height: 200px;
    background-color: gray;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}