.sac{
    background-color: gray;
    display: flex;
    height: 40px;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: flex-end;
}

.carrossel{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}


#principal {
    height: 430px;
    width: 800px;
    background-color: red;
    position: relative;
    margin-top: 30px;
}


.preferencia{
    margin-top: -4px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    background-color: gray;
    height: 200px;
}

.titulo{
    width: 100%;          
    text-align: left;     
    margin-left: 20px;
    font-size: 30px;
}


.escolha{
    font-size: 20px;
    display: flex;
    height: 100px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}

.compras{
    display: flex;
    font-size: 30px;
    height: 280px;
    background-color: gray;
    border: 1px groove rgb(39, 39, 39);
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    height: 200px;
    width: 250px;
    background-color: white;
}
.setinha{ 
    width: 40px;
    height: 40px;
}