h1{
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

.sac{
    background-color: #303030;
    display: flex;
    height: 50px;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: flex-end;
    color: #ffffff;
}

.carrossel{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}

#principal {
    height: 430px;
    width: 40%;
    position: relative;
    margin-top: 30px;
}

.secundario {
    height: 400px;
    width: 30%;
    position: relative;
}

.preferencia{
    margin-top: -4px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    background-color:#303030;
    height: 200px;
}

.titulo{
    width: 100%;          
    text-align: left;     
    margin-left: 20px;
    font-size: 30px;
    margin-top: 5px;
    color: #ffffff;
}



.escolha{
    border-radius: 2%;
    font-size: 20px;
    display: flex;
    height: 100px;
    width: 250px;
    background-color:#202020;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    color: #ffffff;
}



.compras{
    display: flex;
    font-size: 30px;
    height: 600px;
    background-color: #303030 ;
    border: 1px groove rgb(39, 39, 39);
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    height: 300px;
    width: 300px;
    background-color: white;
}
.setinha{ 
    width: 40px;
    height: 40px;
}

.logo{
    border-radius: 100%;
}
button{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    transition: all 0.5s ease-in-out;
}

button:hover{
    background-color:#e90313;
}

.item:hover{
    width: 350px;
    height: 350px;
    padding: 10px;
  

}

.item img:hover{
    width: 350px;
    height: 350px;

}

